#!/bin/bash

echo "Set hostname and domain"
echo {{ item.name }} > /etc/hostname
echo "127.0.0.1 localhost" > /etc/hosts
echo "127.0.1.1 {{ item.name }} {{ item.name }}.{{ item.domain_name }}" >> /etc/hosts

echo "Set network interface"
sed -i '/^DHCP=/d' /etc/systemd/network/0.network
echo "Address={{ item.ip }}/{{ item.subnet }}" >> /etc/systemd/network/0.network
echo "Domains={{ item.domain_name }}" >> /etc/systemd/network/0.network
echo "Gateway={{ item.gateway }}" >> /etc/systemd/network/0.network
echo "DNS={{ item.dns }}" >> /etc/systemd/network/0.network

echo "Reset networking"
systemctl restart systemd-networkd

echo "Disable init-jinteki"
systemctl disable init-vm
echo "Delete this script"
rm /media/sf_init/init.sh

# echo "Remove init-vm"
# rm /etc/systemd/system/init-vm

